@import '../colors.scss';

a , .MuiLink-root {
    color: #a9a9a9 !important;
    transition: 0.4s;
    text-decoration: none !important;
}

p,h1,h2,h3,h4,h5,h6,b {
    color: #707070;
    text-align: center inherit;
}

a:hover  , .MuiLink-root:hover{
    color: $behnid_orange !important;
    transition: 0.4s;
}