@import url('https://v1.fontapi.ir/css/Vazir');
@import 'style_components/NavBar.scss';
@import 'style_components/link_and_texts.scss';
@import 'style_components/reuseableComponents.scss';
@import 'colors.scss';
@import 'style_components/auth.scss';
@import 'style_components/footer.scss';
@import 'style_components/bottomNav.scss';
@import 'dashbord/dashbord.scss';
@import 'style_components/chat.scss';



body {
	/* PWA enhancements */
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;

    // my-styles
    font-family: 'Vazir', sans-serif;
    text-align: center;
}

.whole-app {
    width: 98vw;
}


@media screen and (max-width : 580px) {
    .whole-app {
        // width: 140vw;
        position: relative;
        left: -15%;
    }
    .bottomNav {
        right : -140px
    }
}


.index-cat {
    min-height: 300px;
    background-color: #f7f7f7;
}


.behnid-container {
    background-color: #fffffff5;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    // width: 900px;
    // min-height: 500px;
}


.card-item:hover {
    box-shadow: -1px -2px 8px #92929273;
}

.slid {
    direction: rtl !important;
}

.send-req-single {
    height: 200px;
    // border-radius: 8px;
    // border: #fe6a00 2px dashed;
    text-align: right;
    margin-right: 30px;

}
.txt-r {
    text-align: right !important;
    margin-right: 30px;
}



.filterItem {
    border-radius: 45px;
    min-width: 100px;
    border: 2px solid #ececec;
    cursor: pointer;
}

.filterItemOn{
    border-radius: 45px;
    min-width: 100px;
    border: 2px solid $behnid_orange;
    color : $behnid_orange ;
    cursor: pointer;
}


.css-1elwnq4-MuiPaper-root-MuiAccordion-root:before {
    background-color: white !important;
}
.css-1elwnq4-MuiPaper-root-MuiAccordion-root {
    box-shadow: none !important;
}

.boxedDiv {
    background-color: #f7f7f7;
    border: #efefef solid 2px;
    color: black;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
}

